<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>
</head>
<br>
    <h1>Django Templates Filter Practise 🙂 
    </h1>
    <br>

    <h2 style="text-align:center;">
        1 er ghorer namta <br>
        {{data.array| join:"</br>"}}
    </h2>
    <hr>

    <h2>
        date filter: <br>
        {{data.date | date:"d-m-y"}}
        
    </h2>

    
</body>
</html>